@font-face {
    font-family: 'Shabnam';
    src: url('../../fonts/shabnam.ttf') format('truetype');
    font-weight: normal;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.forbidden {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 300px;
}

.forbidden img {
    position: absolute;
    z-index: -1;
    top: -70%;
    width: 150%;
}

.error-405 {
    background-color: white;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 10px gray;
}

.error-code {
    font-size: 80px;
    color: rgb(140, 133, 236);
    word-spacing: 2px;
}

.error-msg {
    font-family: 'Shabnam', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.return {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background: rgb(88, 185, 75);
}

.return a {
    text-decoration: none;
    color: white;
    border: none;
    font-family: 'Shabnam', Arial, Helvetica, sans-serif;
}