/* ------------- fonts -------- */

/*--------------- fonts ------------------*/

@font-face {
    font-family: "Gandom";
    src: url("../fonts/gandom.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Parastoo";
    src: url("../fonts/parastoo.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Sahel";
    src: url("../fonts/sahel.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Samim";
    src: url("../fonts/samim.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Shabnam";
    src: url("../fonts/shabnam.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("../fonts/vazir.ttf") format("truetype");
    font-weight: normal;
}

/* ------------- #fonts./ ----- */

/* ------------- layout ----- */

.logo {
    width: 48px;
    height: 48px;
}

.alert {
    font-size: 0.65em !important;
}

/* ------------- #layout./ ----- */

/* ------------- globals ----- */

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.br-25 {
    border-radius: 25px;
}

.fnt-8 {
    font-size: 8px;
}

.fnt-10 {
    font-size: 10px;
}

.fnt-12 {
    font-size: 12px;
}

.fnt-14 {
    font-size: 14px;
}

.fnt-16 {
    font-size: 16px;
}

.divider {
    position: relative;
    border-top: 1px solid #4d65ff;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.divider-label {
    position: absolute;
    top: -0.96em;
    background-color: white;
    padding-left: 10px;
    font-size: 12px;
}

.divider-label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: -2px;
    margin-left: 5px;
    border-radius: 50%;
    background: rgb(40, 40, 255);
}

/* -------------#globals./ -----*/

.navbar .navbar-nav li>a {
    font-family: "Shabnam", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.navbar .navbar-brand {
    font-family: "Gandom", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu a {
    color: #f49d9d !important;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu a:hover {
    color: #e6e788 !important;
}

.navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    border-right: 1px solid #4d4d4d;
}

.user-area .user-menu a.nav-link {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Shabnam, Arial, Helvetica, sans-serif;
}

.user-area .user-menu a.nav-link:hover {
    background-color: rgb(201, 217, 248);
}

.header-left .dropdown .dropdown-menu {
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    left: 17px !important;
    top: 30px !important;
    max-height: 200px;
}

table {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

th.sorting_asc {
    width: 5% !important;
}

td.d-flex {
    justify-content: center;
}

tbody tr {
    position: relative;
    text-align: center;
}

thead tr {
    position: relative;
    text-align: center;
}

tbody tr td input[type="checkbox"] {
    position: absolute;
    left: 35px;
}

td[class^="sorting"] {
    text-align: center;
}

.dataTables_paginate {
    float: left;
}

.dataTables_length>label {
    display: block;
}

.dataTables_filter>label {
    display: block;
}

.data-table-search-text {
    direction: rtl;
    color: black;
    border: 0px;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 0;
}

.data-table-change-length {
    border: 0px;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 0px;
    appearance: none;
}

.dashboard a button {
    width: 100%;
    background-color: white;
    font-size: 20px !important;
    font-family: "Shabnam", Arial, Helvetica, sans-serif;
    border-radius: 6px !important;
    padding: 10px 0;
    margin-bottom: 0;
    color: #fff;
    position: relative;
    border-top: 5px solid #4388ce;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.dashboard button div>i {
    font-size: 30px;
    border: 3px solid #5c98d3;
    color: rgb(21, 26, 87);
    border-radius: 50%;
    padding: 20px;
    margin: 0 20px;
}

.dashboard button .card-text {
    padding: 10px 0px;
}

.dashboard button .card-text .card-details {
    font-size: 14px;
    color: black;
    opacity: 0.5;
    margin-top: 10px;
}

.dashboard button .card-text .card-topic {
    color: black;
    opacity: 0.7;
}

.animated .card {
    box-shadow: 2px 3px 5px 1px #aaa;
    border-radius: 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0;
}

.row.list-affiche {
    width: 100%;
    position: relative;
    right: 15px;
}

.row.list-affiche .d-md-none {
    width: 100%;
}

.row.list-affiche .d-md-none .dropdown .dropdown-toggle {
    width: 100%;
}

.row.list-affiche .d-md-none .dropdown .dropdown-menu {
    right: 0;
    text-align: center;
}

.row.list-affiche .d-md-none .dropdown .dropdown-toggle::after {
    position: absolute;
    left: 0;
    top: 17px;
}

.row.list-affiche .d-md-block {
    width: 100%;
}

ul.affiche-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
}

ul.affiche-type li {
    list-style: none;
    padding: 0;
    margin-left: 25px;
}

ul.affiche-type li a {
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    border-right: 4px solid #64c51c;
    border-bottom-left-radius: 20px;
}

.plate-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(75, 75, 75, 0.5);
}

.plate-number .plate-input {
    border-top: none;
    border-top-style: none;
    border-left: none;
    border-left-style: none;
    border-right: none;
    border-right-style: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 25%;
}

.notification-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

.for-notification .dropdown-menu {
    min-width: 250px;
}

/* -------------------- select2 ------------------ */

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-left: 15px;
}

.form-group.with-loader {
    position: relative;
}

.form-group.with-loader img {
    position: absolute;
    left: 3px;
    z-index: 1;
    top: calc(100% - 43%);
    width: 24px;
    height: 24px;
}

span.select2.select2-container {
    width: 100% !important;
}

#select2-loader-disabled {
    width: 30px;
}

/* -------------------- #select2./ ------------------ */

/* -------------------- Multi-step Form ------------------ */

form.multi-step {
    padding-top: 15px;
}

.invalid {
    animation: wink-border 0.5s ease;
    animation-iteration-count: 3;
    animation-fill-mode: both;
}

.form-tab {
    display: none;
    /* margin-bottom: 50px; */
}

.form-step {
    margin: 0 2px;
    background-color: #4caf50;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.form-step i {
    vertical-align: -3px;
    margin-right: 10px;
}

.form-step-active {
    opacity: 1;
}

.form-step-finish {
    background-color: #8f8f8f;
}

#accepting, #rejecting {
    height: 200px;
}

.ql-snow {
    text-align: left !important;
}

.form-check-label {
    padding: 5px;
    margin-bottom: 20px;
}

.form-check-label input {
    vertical-align: -3px;
}

.ware-container {
    border: 1px dashed;
    padding: 10px;
}

.ware-add i {
    vertical-align: -7px;
    cursor: pointer;
}

.ware-add i:hover {
    color: #7cad29;
}

.ware-delete i {
    cursor: pointer;
}

.ware-delete i:hover {
    color: #ff4961;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

/* -------------------- #multi-step form./ ------------------ */

@media (max-width: 1368px) {
    /*  */
}

@media (max-width: 1024px) {
    /*  */
}

@media (max-width: 992px) {
    /*  */
}

@media (max-width: 576px) {
    .card-body {
        padding: 10px;
    }
}

/* -------------------- Buttons ------------------ */

.btn-fade-gray-1 {
    background-color: #eae7e7;
}

.btn-hover-primary:hover {
    background-color: #82f7f7;
    border: 1px solid #4388ce;
}

.slider-changer {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------- #Buttons./ ------------------ */

.ware-count {
    font-size: 12px;
    width: 40px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.status-icon {
    vertical-align: -2px;
    font-size: 14px;
    color: black;
    margin-left: 5px;
}

/* -------------------- Library ------------------ */

#swal-content {
    font-family: Shabnam, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* -------------------- #Library./ ------------------ */

/* -------------------- Animations ------------------ */

.popup-enter {
    animation: popup 0.5s ease;
    animation-direction: normal;
}

.popup-leave {
    animation: popup 0.5s ease;
    animation-direction: reverse;
}

@keyframes wink-border {
    0% {
        border: 1px solid white;
    }
    50% {
        border: 1px solid #fd9280;
    }
    100% {
        border: 1px solid #ff5050;
    }
}

@keyframes popup {
    0% {
        opacity: 0.6;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* -------------------- #Animations./ ------------------ */